region = "us-east-1"
repo_name = "<change-this>"

encrypt_allowed_roles = [_
  "arn:aws:iam::<account-id>:role/<deployment-name-secrets-encrypt>"
]

decrypt_allowed_users = [
  "arn:aws:iam::<account-id>:role/<deployment-name-secrets-decrypt>"
]
